@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    font-family: 'Pangolin';
}

body {
    margin: 0;
    padding: 0;
    background-image: url('fondoazul.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header, nav, section, article, aside, footer {
    display: block;
}

.titulo {
    background-color: #184ea3;box-shadow: 7px 13px 37px #000;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    padding-left: 10%;
    text-align: center;
    width: 80%;
}

nav ul {
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: #184ea3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0a476b;
}
.contenido {
    display: flex;
    margin: auto;
    margin-top: 20px;
    max-width: 1200px; /* Ajusta según tus necesidades */
}

.izquierda {
    
    background-color: #184ea3;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px; /* Ajusta según tus necesidades */
    font-weight: bold;
    width: 70%;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 13px 37px #000;

}

.derecha {
    width: 30%;
    flex: 1;
    padding: 20px;
    background-color: #13d8e6;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    display: flex;
    flex-direction: column; /* Alinear los elementos internos en columna */
    justify-content: center; /* Centrar verticalmente los elementos internos */
    align-items: center; /* Centrar horizontalmente los elementos internos */
    box-shadow: 7px 13px 37px #000;
}

.derecha img {
    width: 70%; /* Ajusta según tus necesidades */
    
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.derecha img {
    width: 50%; /* Reducción del tamaño de la imagen a la mitad */
    height: auto;
    border-radius: 10px;
}

.cards {
    box-shadow: 7px 13px 37px #000;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    box-shadow: 7px 13px 37px #000;
    flex: 0 0 30%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    background-color: #006bb3; /* Nuevo color al hacer hover */
}

.card img {
    text-align: center;
    margin: 10px;
    width: 90%;
    height: 70%;
    border-radius: 10px;
}

.card p {
    padding: 10px;
    text-align: center;
    color: #333; /* Nuevo color de texto */
}
