@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*
{
    font-family: 'Pangolin';
}
body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('fondoazul2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header, nav, section, article, aside, footer {
    display: block;
}

.titulo {
    
    background-color: #184ea3;
    color: white;
    text-align: center;
    padding: 20px;
    text-align: center;
}

nav {
padding-left: 10%;
   text-align: center;
    width: 80%;
    text-align: center;
}

nav ul {
border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: #184ea3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items in a row */
    justify-content: center; /* Center the items horizontally */
}

nav li {
    margin-right: 20px; /* Adjust the spacing between menu items as needed */
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0a476b;
}

.recursos{
    text-align: center;
    
}
table {
    margin: auto; 
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #184ea3;
    color: white;
}

.total-row {
    background-color: #0a476b;
    color: white;
}
.informacion {
    text-align: center;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.informacion p {
    font-size: 1.2em;
    line-height: 1.6;
}