@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    font-family: 'Pangolin';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('fondoazul.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #333; 
}

header, nav, section, article, aside, footer {
    display: block;
}

.titulo {
    background-color: #184ea3;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

nav {
    padding-left: 10%;
    text-align: center;
    width: 80%;
    margin: auto;
}

nav ul {
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: #184ea3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0a476b;
}

.recursos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.categoria {
    width: 30%;
    margin-bottom: 20px;
    background-color: #135c86;
    border: 1px solid #0a476b;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: #FFF;
    transition: transform 0.3s ease-in-out; 
}

.categoria img {
    width: 70%;
    height: 70%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.categoria:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.secundario {
    width: 40%;
    background-color: #0a476b;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1.2em;
    overflow: auto;
}

